/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: grey;
}
body .flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .flexBox .test {
  background-color: whitesmoke;
  margin: 5% 25% 20% 25%;
  border-radius: 25px;
  text-align: center;
  height: 100px;
  width: 75%;
}
body .flexBox .collapseBox {
  width: 90%;
  border-radius: 25px 25px 0px 0px;
  background: white;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
body .flexBox .collapseBox button {
  margin: 0.2% 0% 0% 1%;
  background: white;
  border-radius: 25px 25px 0px 0px;
  width: 98%;
  height: 55px;
  border: white none;
}
body .flexBox .collapseBox .collapseFlex {
  display: flex;
  flex-flow: column nowrap;
  height: 87%;
  background-color: white;
}
body .flexBox .collapseBox .collapseFlex .selector {
  margin: 0% 5% 0% 5%;
  display: flex;
  flex-flow: row nowrap;
}
body .flexBox .collapseBox .collapseFlex .selector button {
  background: white;
  border: solid 1px gray;
  border-radius: 0;
  margin: 0% 0% 0% 0%;
  bottom: 0;
}
body .flexBox .collapseBox .collapseFlex .selector .addButton:focus {
  background-color: lightgreen;
  border-color: black;
}
body .flexBox .collapseBox .collapseFlex .selector .deleteButton:focus {
  background-color: red;
  border-color: black;
}
body .flexBox .collapseBox .collapseFlex .selector .accessButton:focus {
  background-color: lightgreen;
  border-color: black;
}
body .flexBox .collapseBox .collapseFlex .inputSelect {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
